<ul class='nav'>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ansicht</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a asp-action="Projektleiter" asp-route-id="">Projektleiter</a></li>
                <li><a asp-action="Hardwarekonstruktion" asp-route-id="">Hardwarekonstruktion</a></li>
                <li><a asp-action="Softwarekonstruktion" asp-route-id="">Softwarekonstruktion</a></li>
                <li><a asp-action="Administrator" asp-route-id="">Administrator</a></li>
            </ul>
        </div>
    </li>

    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Funktionen</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a asp-controller="File" asp-action="FileUpload" asp-route-id="">FileUpload</a></li>
                <li><a asp-controller="AML" asp-action="Index" asp-route-id="">AML</a></li>
            </ul>
        </div>
    </li>
</ul>

<h1>Projektleiterseite</h1>

<hr />

<form asp-action="CreateEdit">
    <button type="submit" class="btn btn-primary">+ Create Project</button>
</form>


<hr />


<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Projekt Nummer</th>
            <th>Name</th>
            <th>Kunde</th>
            <th>Bearbeiten</th>
            <th>Löschen</th>
        </tr>
    </thead>

    <tbody>
        @{ foreach (Projekt projekt in ViewBag.Projekte)
            {
                <tr>
                    <td>
                        @projekt.Id

                    </td>
                    <td>
                        @projekt.ProjektNummer
                    </td>
                    <td>
                        @projekt.Name
                    </td>
                    <td>
                        @projekt.Kunde
                    </td>
                    <td>
                        <form asp-action="CreateEdit" asp-route-id="@projekt.Id">
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>

                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-action="DeleteProjekt" asp-route-id="@projekt.Id">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>