@model AML_Functiongroup




<div class="card">
    <div class="card-header">
        <h5>Create or Edit an Functiongroup</h5>
    </div>

    

    <table border="0" width="100%" cellspacing="0" cellpadding="5" summary="Layout">
        <tr>
            <td width="80%">

                <form asp-action="CreateEditFunctiongroup" asp-controller="Funtiongroup" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col form-group">
                                <input asp-for="Id" placeholder="ID" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <input asp-for="Name" placeholder="Bezeichnung" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <input asp-for="Zusatzinformationen" placeholder="Zusatzinformationen" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <!--<select name="DrpDwn" id="drpEmpList" class="form-control" asp-for="RoleList" asp-items="-->
                                <select name="Select" asp-items="@(new SelectList(Model.RoleList, "Text"))">
                                    <option value="">--RoleClass--</option>
                                </select>
                                <!--<input type="hidden" asp-for="RoleList" />-->
                            </div>
                        </div>
                    </div>
                    

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </form>


            </td>
            <td width="20%">
                @{ if (Model.Name != null)
                    {
                        if (@Model.Name.StartsWith("IR") == true)
                        {
                            <img src="~/Bilder/IR.png" alt="" height="200" width="200" />
                        }
                        if (@Model.Name.StartsWith("C") == true)
                        {
                            <img src="~/Bilder/CX.png" alt="" height="200" width="200" />
                        }
                        if (@Model.Name.StartsWith("M") == true)
                        {
                            <img src="~/Bilder/MX.png" alt="" height="200" width="200" />
                        }
                        if (@Model.Name.StartsWith("O") == true)
                        {
                            <img src="~/Bilder/OX.png" alt="" height="200" width="200" />
                        }
                        if (@Model.Name.StartsWith("TL") == true)
                        {
                            <img src="~/Bilder/TL.png" alt="" height="200" width="200" />
                        }
                    }

                }

            </td>
        </tr>

    </table>

</div>