
@using Aml.Engine.AmlObjects;
@using Aml.Engine.CAEX;
@using Aml.Engine.CAEX.Extensions;
@using Aml.Engine.Services;
@using Aml.Engine.Xml.Extensions;
@model AML_Station
<hr />
<div class="text-center">
    <h1 class="display-4">Projectview</h1>
</div>
<hr />

<span data-toggle="tooltip" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/TL.png' height='100' width='100' />">
    <button type="submit" class="btn btn-warning">teast</button>
</span>
<!--Erste Tabelle mit der Ausgabe der Projektbezeichnung und der Ausgabe der Anlagenbezeichnung -->

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>Projektbezeichnung</th>
            <th>Anlagenbezeichnung</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @{foreach (InstanceHierarchyType ih1 in ViewBag.myDoc.CAEXFile.InstanceHierarchy)
                    {
                        <button type="submit" class="btn btn-warning">@ih1.Name</button>
                    }
                }
            </td>
            <td>
                @{foreach (InstanceHierarchyType ih1 in ViewBag.myDoc.CAEXFile.InstanceHierarchy)
                    {
                        foreach (InternalElementType ih2 in ih1.InternalElement)
                        {
                            <button type="submit" class="btn btn-warning">@ih2.Name</button>
                        }
                    }

                }
            </td>
        </tr>
    </tbody>
</table>

<!--Für jede Station eine Tabelle generieren die die Funktionsgruppen beinhaltet-->


@{ var ih = ViewBag.myDoc.CAEXFile.InstanceHierarchy[0];
    //foreach (InstanceHierarchyType ih1 in ih)
    //{
    foreach (InternalElementType ih2 in ih)
    {
        foreach (InternalElementType ih3 in ih2.InternalElement)
        {
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <form asp-action="CreateStation" asp-controller="AML" asp-route-id="@ih3.ID">
                                <button type="submit" class="btn btn-warning">@ih3.Name</button>
                            </form>

                        </th>
                    </tr>
                </thead>

                <tbody>

                    @{foreach (InternalElementType ih4 in ih3.InternalElement)
                        {
                            <tr>
                                <td>
                                    <form asp-action="CreateFunctiongroup" asp-controller="Funtiongroup" asp-route-id="@ih4.ID">
                                        @{ if (ih4.Name != null)
                                            {
                                                if (ih4.Name.StartsWith("IR") == true)
                                                {
                                                    <span class="tt" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/IR.png' height='100' width='100' />">
                                                        <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                    </span>
                                                }
                                                else if (ih4.Name.StartsWith("C") == true)
                                                {
                                                    <span class="tt" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/CX.png' height='100' width='100' />">
                                                        <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                    </span>
                                                }
                                                else if (ih4.Name.StartsWith("M") == true)
                                                {
                                                    <span class="tt" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/MX.png' height='100' width='100' />">
                                                        <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                    </span>
                                                }
                                                else if (ih4.Name.StartsWith("O") == true)
                                                {
                                                    <span class="tt" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/OX.png' height='100' width='100' />">
                                                        <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                    </span>
                                                }
                                                else if (ih4.Name.StartsWith("TL") == true)
                                                {
                                                    <span class="tt" data-bs-placement="bottom" data-html="true" title="<img src='../Bilder/TL.png' height='100' width='100' />">
                                                        <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-warning">@ih4.Name</button>
                                                }
                                            }
                                        }
                                    </form>
                                </td>
                                <td>
                                    @{foreach (InternalElementType ih5 in ih4.InternalElement)
                                        {
                                            <button type="submit" class="btn btn-success">@ih5.Name</button>
                                        }
                                    }
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        }
    }
}









